<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
<!-- 			<class name="idv.hsiehpinghan.hbaseassistant.suit.TestngSuitSetting" /> -->
		</classes>
	</test>
	<test name="demo">
		<classes>
<!-- 			<class -->
<!-- 				name="idv.hsiehpinghan.hbaseassistant.entity.DemoTableTest" /> -->
		</classes>
	</test>

</suite>